/* You can add global styles to this file, and also import other style files */
.fakeimg {
  height: 200px;
  background: #aaa;
}

#loader {
  /*background: #ffffff;*/
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  display:none;
}
